body {
    background-color: #000000;   
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

#forum_logo {
     position: relative;
    top: 15px;
    left: 0px;   
    cursor: pointer;
}

.page_title {
    text-align: center;
    color: #FFFFFF;
}

#content {
  float: left ;
  width: 80% ;
}

#container {
  text-align: center;   
}

#text {
 color: #4CAF50; 
 text-align: left;
 width: 95%;
}

#navbar {
  float: left ;
  width: 20% ;
}

#header {
  color: #4CAF50;
}
