body {
	font-family: "Verdana", "Sans-serif";
	font-size: .75em;
	color: #1C344C;
}

p {
	margin: 0px;
}

fieldset {
	margin: 20px auto;
	width: 300px;	
	border-width: 0px;
}

th {
	background-color: #287D7D;
	color: #FFFFFF;
}

th, td {
	padding: 5px 10px;
}

tr.alt td {
	background-color: #C6E070;
}

input[type="text"] {
	width: 40px;
	border: 1px solid #91C46C;
	padding: 2px;
}

input[type="button"]{
	float: right;
	border-width: 0px;
	padding: 8px;	
	color: #FFFFFF;
	font-weight: bolder;
	background-color: #C9C9C9;
}

.fundList {
	width: 200px;
}

.allocation {
	text-align: center;
}

.percentSign{
	margin-left: -18px;
}

.left {
	text-align: left;
}

.header {
	color: #1C344C;
	font-size: 1.2em;
	font-weight: bolder;
}

#totalLabel {
	font-weight: bolder;
	text-align: right;
}

#information {
	background: #F2F2F2;
	padding: 10px;
	font-style: italic;
}

#content{
	margin: auto;
	width: 400px;
}

#registration {
	padding-top: 20px;	
}


#customerAllocations {
	border-collapse: collapse;
	border: 2px solid #287D7D;
}
